:root {
  --dark-color: #25284A;
  --green-color: #33d1cc;
  --red-color: #ef5a6b;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
  --op-dark-color: #2e314d;
  --gray-color: #9ea1b9;
  --violet-color: #c6f778;
  --violet-color-op: #f011e5;
  --blue-color: #0da9e9;
  --dark-yellow-color: #F59401;
  --bagraound :  rgb(79, 224, 224);
  --color-gin: #FC7785
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #202443;
  display: flex;
  height: 100vh;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
} */
/* --------------------FROM HEADER PAGE------------------------------------------------------------------------------ */
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.596);
  box-shadow:  inset 5px 5px 10px black, 
  inset -5px -5px 10px black;
  border-radius: 20px;
  color: white;
}

header .search input {
  background-color: rgba(17, 17, 17, 0.342);
  border: solid 3px var(--gray-color);
  width: 400px;
  font-weight: bold;
  color: var(--gray-color);
  transition: 1s;
}

header .search::before{
  font-family: "Font Awesome 6 Free";
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  transform: translateY(50%);
  color: white;
}

header .search input:focus {
  width: 600px;
  color: white;
}

header .search input:focus::placeholder {
  opacity: 0;
}

header .notf {
  margin-right: 15px;
}

header .icons img {
  width: 50px;
  border-radius: 50%;
  border: solid 3px rgb(78, 77, 77);
}
header .img-fluid{
  width: 90px;
  border-radius: 50%;
  border: solid 3px white;
}

.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}
/* --------------------END HEADER PAGE------------------------------------------------------------------------------ */

/* --------------------FROM START SIDEBAR PAGE------------------------------------------------------------------------------ */

.sidebar {
  width: 82px;
  height: 490px;
  background-color: transparent;
  box-shadow:  inset 5px 5px 10px black, 
  inset -5px -5px 10px black;
  border: 1.5px #25284A solid; 
  border-radius: 20px;
  text-align: center;
  align-self: center;
  justify-content: flex-start;
  position: absolute;
  margin: auto;
  left: 7px;
  top: 150px;
  bottom: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 5px auto;
  text-align: center;
  margin: auto;
}

.sidebar ul li {
  margin: 5px auto;
}
.sidebar ul li a i{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sidebar ul li a{
  display: flex;
  padding: 15px auto;
  color: #F4F4F4;
  font-size: 25px;
  transition: color 0.6s;
}

.sidebar ul li a.active::before{
  content: "";
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent var(--violet-color) transparent transparent;
  filter: drop-shadow(0px 5px 4px white );
  border-radius: 40px;
}
.sidebar ul li a:hover{
  border-right: solid 7px var(--section-color);
  filter: drop-shadow(5px 5px 10px white );
  filter: drop-shadow(-5px -7px -7px white );
}
.sidebar ul li a:hover svg,
.sidebar ul li a.active svg{
  color: #a600ff;
  filter: drop-shadow(0px -5px 7px white);
}

.sidebar ul li a.active {
  color: rgb(253, 0, 127);
}

/* --------------------END SIDEBAR PAGE------------------------------------------------------------------------------ */
/* --------------------FROM START HOME PAGE------------------------------------------------------------------------------ */
.content_index{
  margin-left: 90px;
}
.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,400px);
  grid-template-areas: " box2 box2 box2 box2"
                      "box1 box1 box3 box3";
}
.wrapper .box2 h3{
  color: gold;
}
@media (max-width: 940px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,250px);
    grid-template-areas: "box2"
    "box1"
    "box3"
    "box4";
  }
  .wrapper .box2 p{
    font-size: 30px;
    color: white;
  }
  .wrapper .box2 h3{
    font-size: 60px;
    color: gold;
  }
  .user-profile {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(2,300px)!important;
    grid-template-areas: "profile"
    "level"  !important;
  }
  .box2 .btn{
    font-size: 20px;
  }
  header .search input{
    width: 300px;
  }
  
}
@media (max-width: 740px) {
 
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,250px);
    grid-template-areas: "box2"
    "box1"
    "box3"
    "box4";
  }
  .wrapper .box2 p{
    font-size: 15px;
    color: white;
  }
  .wrapper .box2 h3{
    font-size: 20px;
    color: gold;
  }
  .user-profile {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(2,300px)!important;
    grid-template-areas: "profile"
    "level"  !important;
  }
  .box2 .btn{
    font-size: 10px;
  }
  header .search input{
    width: 200px;
  }
  
}

.box2 .btn,
.send-request-friend .btn {
 letter-spacing: 2px;
 padding: 10px 20px;
 font-family: "Titan One", sans-serif;
 color: var(--yellow-color);
 box-shadow: inset 0px 5px 10px 0px rgb(0, 0, 0),
 inset 0px -5px 10px 0px rgb(0, 0, 0);
 transition: 1s;
}

.box1 p,
.box2 p{
color: var(--yallow-color);
font-family: "Bebas Neue", sans-serif;
font-style: normal;
font-size: 50px;
}
.box2 h3 {
   font-family: "Shojumaru", system-ui;
   font-weight: bold;
   font-style: normal;
   font-size: 70px;

}
.box2  {
 overflow: hidden;
 grid-area: box2;
 background-color: #25284A;
 box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);
 background-size: cover;
 background-repeat: no-repeat; 
}

.box2 img:last-child {
 animation: raj3o1 3s ;

}
.box2 img:first-child{
 animation: raj3o2 3s ;
}
@keyframes raj3o1 {

 0%{
   transform: translateX(100%);
 }
 100% {
   transform: translateX(0);
 }

}
@keyframes raj3o2 {

 0%{
   transform: translateX(-100%);
 }
 100% {
   transform: translateX(0);
 }

}

.box2 img,
.box1 img,
.box3 img{
 max-height: 100%;
 width: auto;
}
.box1 {
 grid-area: box1;
 background-color: #25284A;
 box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);
}
.box3 {
 grid-area: box3;
 background-color: #25284A;
 box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);
}
.box4 {
 grid-area: box4;
}
/* --------------------END HOME PAGE------------------------------------------------------------------------------ */

/* --------------------START  PROFILE   PAGE------------------------------------------------------------------------------ */

.content_profile  {
  margin-left: 100px;
  padding: 20px;
  flex-grow: 1;
}
.profile-page .overview {
  background-color: #25284A;
  box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #CF657C;
}
@media (max-width: 767px) {
  .content_profile{
    margin-left: 80px;
    padding: 20px;
    flex-grow: 1;
  } 
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box{
  width: 300px;
  font-family: "Jaro", system-ui;
  font-weight: bold;
  font-size: 40px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: flex-start;
  align-items: flex-start;
  left: -10px;
  top: -10px;
}
.profile-page .overview  .avatar-box .level {
  background-color: #686c72;
  position: relative;
  height: 6px;
  overflow: hidden;
  margin: 10px auto;
  margin-left: 0;
  width: 80%;
  border-radius: 6px;
}
.profile-page .overview .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  background-color: #0da9e9;
  border-radius: 6px;
}
.pr-welcome {
  color: var(--green-color);
}

.pr-welcome p{
  font-family: "Jaro", system-ui;
  font-weight: bold;
  font-size: 40px;
  filter: drop-shadow(0px 0px 10px var(--dark-yellow-color));
  animation: raj3o2 1s;
 }

.pr-welcome  .btn-settings svg  {
  font-size: 30px;
  color: #972EFD;
 }
 
/* --------------------END  PROFILE   PAGE------------------------------------------------------------------------------ */
/* --------------------START  SETTING   PAGE------------------------------------------------------------------------------ */

.content_setting {
  margin-left: 100px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 20px;
  flex-grow: 1;
  display: grid;
  color: #eee;
  background-color: transparent;
  box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);
  border-radius: 20px;
}

.main-content {
  flex-grow: 1;
  background-color: #202443;
  border-radius: 5%;
}


h1, h2 {
  color: #c9d1d9;
}

.menu-item {
  padding: 8px 0;
  color: #8b949e;
  cursor: pointer;
}

.menu-item:hover {
  color: #c9d1d9;
}

.menu-item.active {
  background-color: #21262d;
  color: #ffffff;
  border-radius: 6px;
  padding: 8px;
}

input, textarea {
  background-color: #0d1117;
  border: 1px solid #30363d;
  color: #c9d1d9;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 6px;
}

button {
  background-color:var(--color-gin);
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #31af48;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: -10px;
}

.profile-section {
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container input {
  margin-right: 10px;
  width: auto;
}

#test {
  position: relative;
  bottom : 35px;
  right: 110px;
}

#test label{
  background-color:var(--color-gin);
  color: #ffffff;
  border: none;
  padding: 7px 7px;
  cursor: pointer;
  border-radius: 6px;
}

#test label:hover {
  background-color: #31af48;
}

.profile-picture-container {
  text-align: end;
}
.profile-picture-container .edit-button {
  margin-left: 5px;
}

/* @media (max-width: 767px) {
  .profile-section_1 .profile-section input {
    display: flex;
    width: 100%;
  }
} */
/* --------------------END  SETTING   PAGE------------------------------------------------------------------------------ */

/* --------------------START   Frinds   PAGE------------------------------------------------------------------------------ */

.content_frined {
  margin-left: 90px;
  padding: 20px;
  flex-grow: 1;
  display: grid;
  color: #eee;
}
.friends-page {
  border-radius: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 5px;
}

.friends-page .friend{
  color: white;
  border-radius: 20px;
  background-color: #25284A;
  height: fit-content;
  box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);
}
.friends-page .btn-mod {
  background-color: var(--red-color);
  box-shadow: inset 0px 0px 10px black;
  font-family: "Titan One", sans-serif;
  border: none;
}
.friends-page .btn-mod:hover {
  background-color: red;
  color: black;
  box-shadow:  0px 0px 10px red;
}
@media (max-width: 767px) {
  
  .friends-page {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

.friends-page .friend .icons {
  border-top: 2px solid #979696;
  border-bottom: 2px solid #979696;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: white 0px 0px 0.7px;
}

.friends-page .friend .icons i{
  margin-right: 5px;
}
.friends-page  .rad-half {
  border-radius: 50%;
  border:solid 2px var(--red-color);
  box-shadow: 0 0 20px var(--red-color);
}

.contact_frind{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.status-frind {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.active_frind {
  border: 0.2px solid #eee;
  background-color: #28a745;
}

.not-active_frind {
  border: 0.2px solid #1d1c1c;
  background-color: #eee;
}
.not-active_frind .not-active_frind_1 {
  position: relative;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
}

  /* .message-request {
    width: 30%;
    padding: 30px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: inset 0px 5px 10px 0px rgba(133,61,232, 0.7)   ;
    font-family: "Jaro", system-ui;
    color: var(--blue-color);
    margin-left: 70%;
    
  } */
/* --------------------END   Frinds   PAGE------------------------------------------------------------------------------ */
  
/* -------------------- STRAT  ALL   BOTTON  PAGE------------------------------------------------------------------------------ */
.text-center {
  text-align: center;
}

.m-2 {
  font-size: xx-large;
  color: white;
  font-weight: bold;
}

.m-3 {
  margin: 10px;
}

.play-now {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
} 

.play-now a {
  display: inline-block;
  background-color: var(--green-color);
  color: white;
  padding: auto;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.play-now a:hover {
  background-color: var(--dark-color);
}

.btn {
  display: inline-block;
  background-color: var(--green-color);
  color: white;
  padding: auto;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--dark-color);
}
/* -------------------- END  ALL   BOTTON  PAGE------------------------------------------------------------------------------ */

/* Styles for responsive design*/
/* @media (max-width: 768px) {
  .page {
    flex-direction: column;
  }
  
  .wrapper{
    padding-left: 0;
    
  }
  .content {
    padding-left: 0;
  }
} */



/* -------------------- START   LEADERBOARD  PAGE------------------------------------------------------------------------------ */

/* .content_leader{
  background-color: #eee;
  margin-left: 100px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 20px;
  flex-grow: 1;
  display: grid;
  color: #eee;
  background-color: transparent;
  box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);
  border-radius: 20px;
} */
.wrapper_leader {
  display: grid;
  color: white;
  gap: 10px;
  padding-left: 80px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,400px);
  grid-template-areas:  "box1 box1 box1 box2"
                        "box3 box3 box3 box3";
                        /* "box4 box4 box5 box5"; */
}

/* ---------------------- */
.box1_leader  {
 grid-area: box1;
 background-color:#25284A; 
 box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);
}
/* ----------------- */
.box2_leader {
  grid-area: box2;
  color: white;
  border-radius: 20px;
  background-color: #25284A;
  height: 100%;
  box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);
}

.box2_leader .leader .icons_leader {
  border-top: 2px solid #979696;
  border-bottom: 2px solid #979696;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: white 0px 0px 0.7px;
}

.box2_leader .icons_leader i{
  margin-right: 5px;
}
.box2_leader .photo_leader {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border:solid 2px var(--red-color);
  box-shadow: 0 0 20px var(--red-color);
}

.contact_leader{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.status-leader {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
} 
.active_leader {
  border: 0.2px solid #eee;
  background-color: #28a745;
}

.not-active_leader {
  border: 0.2px solid #1d1c1c;
  background-color: #eee;
}
.not-active_leader .not-active_leader_1 {
  position: relative;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
} 
/* ------------- */
.box3_leader {
  grid-area: box3;
  background-color: #25284A;
  box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9);  
}

.top-three {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.player {
  text-align: center;
  position: relative;
}

.player .logo-go {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.first .logo-go{
  border: 3px solid gold;
  box-shadow: 0px 0px 20px gold;
}
.second .logo-go{
  border: 3px solid rgb(151, 148, 148);
  box-shadow: 0px 0px 20px rgb(151, 148, 148);
}
.third .logo-go{
  border: 3px solid orangered;
  box-shadow: 0px 0px 20px orangered;
}

.player.first img {
  width: 150px;
  height: 150px;
}

/* .crown {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
} */

.player-info {
  margin-top: 15px;
}

.name {
  font-weight: bold;
}

.score {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.username {
  color: #9999aa;
  font-size: 12px;
}
.liss{
  width: 100%;
}
.player-list {
  list-style-type: none;
  width: 100%;
  height: 75%;
  padding: 0;
}

.player-list li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333344;
}

.player-list img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.player-list .score {
  margin-left: auto;
}

.trend {
  margin-left: 10px;
}

.trend.up {
  color: #4caf50;
}

@media (max-width: 740px) {
  .wrapper_leader {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,350px);
    grid-template-areas: "box1"
    "box2"
    "box3"
    "box4";
  }
  .top-three {
    margin-bottom: 10px;
  }
  .player .logo-go {
    width: 70px;
    height: 70px;
  }
  
  .player.first img {
    width: 90px;
    height: 90px;
  }
  .player-list {
    list-style-type: none;
    width: 75%;
    height: 50%;
    /* padding: 0; */
  }
  .player-list img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
}

/* -------------------- END LEADERBOARD  PAGE------------------------------------------------------------------------------ */
