<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'game/online/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jaro:opsz@6..72&family=Rakkas&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shojumaru&family=Titan+One&display=swap" rel="stylesheet">


</head>
<body>
<!-- https://cdn.intra.42.fr/users/2aaa24c2f68fc8417922ec999682f612/monabid.jpg  -->
    <div class = "gameview" id="gameview">
        <div id="scoeHolder">
          <div class="gameheader1 gameheader" id="gameheader1">
            <div class = "playerimg playerimg1"></div>
            <h3 class="playename playename1" id="playename1">monabid</h3>
            <h1 class="score" id="wh1">0</h1>
          </div>
          <h1 class="headersep">:</h1>
          <div class="gameheader2 gameheader" id = gameheader2>
            
            <h1 class="score" id="wh2">0</h1>
            <h3 class="playename playename2" id="playename2">mkatfi</h3>
            <div class = "playerimg playerimg1"></div>
          </div>
          
        </div>
        
        <div id="gameHolder">
          <div id="game">
            <div id="ball"></div>
            <div id="counterHoler">
              <h1 id="counter"></h1>
              <h3 id="counter2"></h3>
            </div>
            
            <div id="board">
    
              <div id="playerLeft" class="player"></div>
              <div id="midline"></div>
              <div id="playerRigth" class="player"></div>
    
            </div>
          </div>
        </div>
    </div>
      
      <!-- <script type="module" src="/Ping_Pong/2D/offline/ball.js"></script> -->
  
    
    <script src="{% static 'game/online/script.js' %}">
    </script>

</body>

</html>
