<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'game/offline/styles.css' %}">

</head>
<body>

    <h1 id="queue">in Queue. waiting for opponents</h1>
    <div id="scoeHolder">
        <h1 class="score" id="wh1">0</h1>
        <h1 class="score" id="wh2">0</h1>
      </div>
  
      <div id="gameHolder">
        <div id="game">
          <div id="ball"></div>
          <div id="counterHoler">
            <h1 id="counter"></h1>
            <h3 id="counter2"></h3>
          </div>
          
          <div id="board">
  
            <div id="playerLeft" class="player"></div>
            <div id="midline"></div>
            <div id="playerRigth" class="player"></div>
  
          </div>
        </div>
      </div>
      
      <!-- <script type="module" src="/Ping_Pong/2D/offline/ball.js"></script> -->
  
    <script>
      class DiplayManager{
        constructor(){
            this.defX = 700;
            this.defY = 500;
            this.windowW = document.getElementById('game').clientWidth;
            this.windowH = document.getElementById('game').clientHeight;
            this.ballSize = 10
            this.playerW = 5
            this.pSize = 50
            this.p1StartingPositionX = 21
        }
    
        displayBall(ballx, bally, dom){
            var x = parseFloat(ballx) / parseFloat(this.defX);
            x *= this.windowW;
            var y = parseFloat(bally) / parseFloat(this.defY);
            y *= this.windowH
    
            dom.style.left = x.toString() + 'px';
            dom.style.top  = y.toString() + 'px';
        }
    
        displayPlayer(py, dom){
        
            var y = parseFloat(py) / parseFloat(this.defY);
            y *= this.windowH;
            dom.style.marginTop = y.toString() + 'px';
 
        }
    
    
        resize(size, original, virtual)
        {
            var v =  parseFloat(size) / parseFloat(original);
            return v * virtual
        }
        onResize()
        { 
            var oldh = this.windowH
            var w = document.getElementById('gameHolder').clientWidth;
            var h = document.getElementById('gameHolder').clientHeight;
            var coaf = this.defX / this.defY;
    
            if (w / h > coaf)
                w = h * 1.4;
            else
                h = w / 1.4;
    
            this.windowH = h
            this.windowW = w
            document.getElementById('game').style.height = h + 'px';
            document.getElementById('game').style.width = w + 'px';
            
            // ball size h is same as W
            var ball    = document.getElementById('ball');
            ball.style.height = this.resize(this.ballSize, this.defY, this.windowH) + 'px'
            ball.style.width = this.resize(this.ballSize, this.defY, this.windowH) + 'px'
    
            // player size
            var p1      = document.getElementById('playerLeft');
            p1.style.width = this.resize(this.playerW, this.defX, this.windowW)+ 'px'
            p1.style.height  = this.resize(this.pSize,  this.defY, this.windowH)+ 'px'
            p1.style.marginLeft = this.resize(this.p1StartingPositionX,  this.defX, this.windowW)+ 'px'
            
            var p2      = document.getElementById('playerRigth');
            p2.style.width = this.resize(this.playerW, this.defX, this.windowW)+ 'px'
            p2.style.height  = this.resize(this.pSize,  this.defY, this.windowH)+ 'px'
            p2.style.marginRight = this.resize(this.p1StartingPositionX,  this.defX, this.windowW)+ 'px'
        
            //player posission

            p1.style.marginTop = this.resize(p1.style.marginTop, oldh, this.windowH) + 'px'
            p2.style.marginTop = this.resize(p2.style.marginTop, oldh, this.windowH) + 'px'

          }
      }
    
      var Board   = document.getElementById('board');
      var ball    = document.getElementById('ball');
      var p1      = document.getElementById('playerLeft');
      var p2      = document.getElementById('playerRigth');
      var counter = document.getElementById('counter');
      var counter2 = document.getElementById('counter2');
      var wh1     = document.getElementById('wh1');
      var wh2     = document.getElementById('wh2');
      var el      = document.getElementById('queue');
      var printer = new DiplayManager();

      poss = {
        'p1' : 225,
        'p2' : 225,
        'ballX': 345,
        'ballY': 245,
      };
      move_objs(225, 225, 345, 245)

      

      window.addEventListener('resize', function() {
        printer.onResize();
      });
      
      var sock = new WebSocket("ws://localhost:444/ws/online/");

      function keyUpListner(event){
        cmd = {
          'cmd' : 'key_relese',
          'key' : '',
        }
        if (event.key === 'w' || event.key === 'W'){
          cmd.key = 'w';
          sock.send(JSON.stringify(cmd))
        }
        else if (event.key === 's' || event.key === 'S')
        {
          cmd.key = 's';
          sock.send(JSON.stringify(cmd))
        }
      }

      function keyDownListner(event){
        cmd = {
          'cmd' : 'key_press',
          'key' : '',
        }
        if (event.key === 'w' || event.key === 'W'){
          cmd.key = 'w';
          sock.send(JSON.stringify(cmd))
        }
        else if (event.key === 's' || event.key === 'S')
        {
          cmd.key = 's';
          sock.send(JSON.stringify(cmd))
        }
      }
    

        
      function hide_queue(){
        el.hidden = true
      }
      function pannel(txt){
        el.hidden = false
        el.textContent = txt
      }
      function count_down(time)
      {
        Board.style.filter = "blur(5px)";
        counter.textContent = time
      }

      function count_down_end()
      {
        Board.style.filter = "";
        counter.textContent = ''
        
      }

      function set_score(vp1, vp2)
      {
        wh1.textContent = p1
        wh2.textContent = p2
      }

      function move_objs(vp1, vp2, ballX, ballY)
      {
        printer.displayPlayer(vp1, p1)
        printer.displayPlayer(vp2, p2)
        printer.displayBall(ballX, ballY, ball)
      }

      function allow_move(allowed)
      {
        console.log('activate_movment ' + allowed)
        if (allowed == true){
          console.log('activate_movment ' + allowed)
          document.addEventListener('keydown', keyDownListner);
          document.addEventListener('keyup', keyUpListner); 
        }
        if (allowed == false){
          console.log('activate_movment ' + false)
          document.removeEventListener('keydown', keyDownListner);
          document.removeEventListener('keyup', keyUpListner);
        }
      }
      function match_end(msg, reson)
      {
        Board.style.filter = "blur(5px)";
        counter.textContent = msg
        counter2.textContent = reson
        sock.close()
      }

      function msg(text)
      {
        console.log(text)
      }

      function update_score(p1, p2){
        console.log(p1)
        console.log(p2)
        wh1.textContent = p1
        wh2.textContent = p2
      }

      function redirect(msg, url)
      {
        console.log(url);
        window.location.pathname = obj.url;
      }


      sock.onmessage = function(event){
          
        try {
            let obj = JSON.parse(event.data);
            if (obj.cmd == 'hide_queue')
              hide_queue()
            else if (obj.cmd == 'count_down')
              count_down(obj.time)
            
            else if (obj.cmd == 'count_down_end')
              count_down_end()
            else if (obj.cmd == 'pannel')
              pannel(obj.text)
            else if (obj.cmd == 'move_objs')
              move_objs(obj.p1, obj.p2, obj.ballX, obj.ballY)
            else if (obj.cmd == 'allow_move')
              allow_move(obj.allowed)
            else if (obj.cmd == 'update_score')
              update_score(obj.p1, obj.p2)
            else if (obj.cmd == 'match_end')
              match_end(obj.msg, obj.reson)
            else if (obj.cmd == 'msg')
              msg(obj.text)
            else if ( obj.cmd == 'redirect' )
              redirect(obj.cmd,obj.url)
            

        } catch (error) {
          
        }
    };
          
    </script>

</body>

</html>
