{% extends "base_generic.html" %}
{% load static %}
{% block content %}


<div class="settings-all d-grid     rounded-4 ms-3 me-3 mt-5 ">
    <div class="boxsett-1 d-flex justify-content-between">
        <div class="t-sett d-flex align-items-center">
            <h1> Profile </h1>
            <i class="fa-solid fa-user  fa-fw"></i>
        </div>
        <form method="post" enctype="multipart/form-data" action="" class="w-75">
            {% csrf_token %}  
                    <div class="form-group m-3">
                        <label   class="small mb-1">Username:</label>
                        {{ upuser.username }}
                        <label class="small mb-1">Email:</label>
                        {{ upuser.email }}
                    </div>
                    <div class="form-group w-100 m-3">
                        <!-- <a href="#">Change Password</a>
                        <hr> -->
                        <label for="id_avatar" class="small mb-1">Change Avatar:</label>
                        {{ form.avatar }}
                        <label class="small mb-1 w-100">Bio:</label> 
                        {{ form.bio }}
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                    <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                    {% if form.errors %}
                        <div class="message-error">  <i class="fa-solid fa-circle-exclamation"></i> {{form.errors}}</div>
                    {% endif %}
        </form>
    </div>
    <div class="boxsett-2 d-flex justify-content-between mt-3">
        <div class="t-sett d-flex align-items-center">
            <h1> SECURITY </h1>
            <i class="fa-solid fa-user  fa-fw"></i>
        </div>
        <form method="post" enctype="multipart/form-data" action="" class="w-75">
            {% csrf_token %}  
                    <div class="form-group m-3">
                            <label for="{{ changepw.old_password.id_for_label }}"  class=" small mb-1">Old Password:</label>
                            {{ changepw.old_password }}
                        <!-- New Password -->
                            <label for="{{ changepw.new_password1.id_for_label }}" class=" small mb-1">New Password:</label>
                            {{ changepw.new_password1 }}
                        <!-- Confirm New Password -->
                            <label for="{{ changepw.new_password2.id_for_label }}" class=" small mb-1">Confirm New Password:</label>
                            {{ changepw.new_password2 }}
                    </div>

                    <br><br>
                    <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                    <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                    {% if form.errors %}
                        <div class="message-error">  <i class="fa-solid fa-circle-exclamation"></i> {{form.errors}}</div>
                    {% endif %}
        </form>
    </div>
</div>
    
{% block js_script %}{% endblock %}


{% endblock %}