
{% load static %}


{% comment %} <ul>
    
      <li>
        {{  }}
        userID=user.id 
        <a href="{% url 'sendtofriend' %}">Send Friend Request</a>
      </li>
 
  </ul> {% endcomment %}

 {% for message in  messages %}


  {% if message.tags == "error" %}
  <div class="message-{{ message.tags }}">  <i class="fa-solid fa-circle-exclamation"></i> 
    {% elif message.tags == "success" %}
    <div class="message-{{ message.tags }}">  <i class="fa-solid fa-circle-check"></i>
        {% else %}
        <div class="message-{{ message.tags }}">  <i class="fa-solid fa-circle-info"></i>
            {% endif %}
            {{message}}
        </div>

    
  {% endfor %} 

  <div class="send-request-friend">
   
    <div class="t-sett d-flex align-items-center">
        <h1> Add new Friends </h1>
        <i class="fa-solid fa-user-plus"></i>
    </div>
    <ul class="d-grid">
        {% for user in users %}
        {% if not user.is_superuser  %}
        {% if user != request.user and user not in user_friends %}
        <li class="d-flex justify-content-between" >
            <img src="{{user.profile.avatar.url}}" alt="">
            <div class="play-now ">
                <a class="text-center btn " href="{% url 'sendtofriend' userID=user.id  %}"><i class="fa-solid fa-user-plus"></i>
                    <span> ADD</span></a>
                </div>
                <p class="w-100"> {{user.username}}</p>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
    </ul>
</div>
{% comment %} RequestID=friend_request.id  {% endcomment %}
<div class="send-request-friend  accept-request-friend ">
    <div class="t-sett d-flex align-items-center">
        <h1> Friends Request's </h1>
        <i class="fas fa-check"></i>
    </div>
    <ul class="d-grid">
        {% for friend_request in  all_friend_request %}
        <li class="d-flex justify-content-between" >
            <img src="{{friend_request.sender.profile.avatar.url}}" alt=""> 
            <div class="play-now ">
                <a class="text-center btn " href="{% url 'acceptr' RequestID=friend_request.id %}"><i class="fas fa-check"></i>
                    <span> ACCPET</span></a>
                </div>
                <div class="play-now  ">
                    <a class="text-center btn decline" href="{% url 'deleter' RequestID=friend_request.id %}"><i class="fas fa-x"></i>
                        <span> Decline</span></a>
                    </div>
                <p class="w-100">  {{ friend_request.sender.username }}</p>
            </li>
            
            {% endfor %}
    </ul>
</div>
<div class="send-request-friend  accept-request-friend  ">
    <div class="t-sett d-flex align-items-center">
        <h1> My Friends</h1>
        <i class="fas fa-user-friends"></i>
    </div>


    <ul class="d-grid">
        {% for friend in user_friends %}

        <li class="d-flex justify-content-between" >
            {% if friend.profile.is_active %}
            <span style="color: green;">Online</span>
            {% else %}
                <span style="color: red;">Offline</span>
            {% endif %}
            <img src="{{friend.profile.avatar.url}}" alt=""> 
            <p class="w-100">  {{ friend.profile.user.username}}</p>
            <div class="play-now ">
                <a class="text-center btn " href="{% url 'friend_details' userID=friend.id  %}"><i class="fas fa-check"></i>
                    <span> VIEW PROFILE</span></a>
                </div>
                <div class="play-now ">
                    <a class="text-center btn decline" href="{% url 'remove_friend' userID=friend.id  %}"><i class="fas fa-check"></i>
                        <span> unfriend</span></a>
                    </div>
            </li> 
            
            {% endfor %}
    </ul>
</div>


